<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zbf.mapper.TiKuMapper">

    <insert id="addTiKuInfo" parameterType="map">
         insert into lcg_tiku(id,tikuname,tikushuoming,tikuzhuangtai,createtime)
         values (#{id},#{tikuname},#{tikushuoming},#{tikuzhuangtai},NOW())
    </insert>

    <select id="getTikuList" parameterType="page" resultType="map">
        select ltk.* from lcg_tiku ltk
        <where>
            <if test="params.tikuname!=null and params.tikuname!=''">
                and ltk.tikuname like CONCAT('%',#{params.tikuname},'%')
            </if>
            <if test="params.tikuzhuangtai!=null and params.tikuzhuangtai!=''">
                and ltk.tikuzhuangtai=#{params.tikuzhuangtai}
            </if>
        </where>
        order  by ltk.createtime desc
    </select>

    <update id="updateTiKuInfo" parameterType="map">
        update lcg_tiku
        <set>
            <if test="tikuname!=null and tikuname!=''">tikuname=#{tikuname},</if>
            <if test="tikuzhuangtai!=null and tikuzhuangtai!=''">tikuzhuangtai=#{tikuzhuangtai},</if>
            <if test="tikushuoming!=null and tikushuoming!=''">tikushuoming=#{tikushuoming},</if>
        </set>
        <where>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
        </where>
    </update>


    <insert id="addShitiForTIku" parameterType="map">
        insert into lcg_timu(id,createuserid,tixingid,tikuid,shitizhuangtai,nanduid,laiyuan,
        tigan,timujiexi,xuanxiangmiaoshu,xuanxiangbianhao,daan,createtime)
        values (
            #{id},#{createuserid},#{tixingid},#{tikuid},#{shitizhuangtai},#{nanduid},#{laiyuan},
            #{tigan},#{timujiexi},#{xuanxiangmiaoshu},#{xuanxiangbianhao},#{daan},NOW()
        )
    </insert>

    <select id="getShitiList" parameterType="page" resultType="map">
        SELECT lt.*,ltk.tikuname,concat(lu.userName,'--',lt.createtime) createuser from lcg_timu lt INNER JOIN lcg_tiku ltk on lt.tikuid=ltk.id
        LEFT JOIN  lcg_user lu  on lu.id=lt.createuserid
        <where>
            <if test="params.tikuid!=null and params.tikuid!=''">and lt.tikuid=#{params.tikuid}</if>
            <if test="params.shitileixing!=null and params.shitileixing!=''">and lt.tixingid=#{params.shitileixing}</if>
            <if test="params.shitizhuangtai!=null and params.shitizhuangtai!=''">and lt.shitizhuangtai=#{params.shitizhuangtai}</if>
            <if test="params.nanduid!=null and params.nanduid!=''">and lt.nanduid=#{params.nanduid}</if>
        </where>
        order by lt.createtime desc
    </select>

    <select id="getShiTiById" parameterType="map" resultType="map">
        select * from lcg_timu where id=#{id}
    </select>

    <delete id="deleteByShiTiId" parameterType="map">
        delete from lcg_timu where id=#{id}
    </delete>

    <select id="getShitiDataListByTiKu" parameterType="page" resultType="map">
        select * from lcg_timu where tikuid=#{params.tikuid}
    </select>

    <select id="getTiKUFenXi" parameterType="map" resultType="map">
        select lt.tixingid as name,COUNT(lt.tixingid) as value from lcg_timu lt where lt.tikuid=#{tikuid} GROUP BY lt.tixingid
    </select>


</mapper>